.new-collections {
  margin: 30px auto;
  margin-bottom: 100px;
}

.new-collections h1 {
  color: #171717;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}

.collections {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

@media screen and (max-width: 564px) {
  .collections {
  }
  .new-collections {
    width: 90%;
    margin: 20px auto;
  }
}
