.productdisplay {
  display: flex;
  align-items: center;
  margin: 0px 50px;
}

.productdisplay-left {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px;
}

.productdisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productdisplay-img-list img {
  display: block;
  height: 163px;
  object-fit: contain;
}

.productdisplay-main-img {
  width: 500px;
  object-fit: cover;
  display: block;
}

.productdisplay-right {
  display: flex;
  flex-direction: column;
}

.productdisplay-right h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}

.productdisplay-right-stars {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.productdisplay-right-prices {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.productdisplay-right-price-old {
  color: #818181;
  text-decoration: line-through;
}

.productdisplay-right-price-new {
  color: #ff4141;
}

.productdisplay-right-size h1 {
  margin-top: 55px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}

.productdisplay-right-sizes {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}

.productdisplay-right-sizes div {
  padding: 18px 24px;
  background-color: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}

.productdisplay-right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  margin-top: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

.productdisplay-right-category {
  margin-top: 10px;
}

.productdisplay-right-category span {
  font-weight: 600;
}

.addToCartAndArButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 8px;
}

.ar-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px 40px;
  width: 100px;
  height: 25px;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  color: #ff4141;
  background: white;
  margin-bottom: 40px;
  margin-top: 40px;
  border-style: solid;
  border-color: #ff4141;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
  overflow: auto;
}
.ar-button img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .productdisplay {
    flex-direction: column;
  }
  .productdisplay-left {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .productdisplay-img-list {
    flex-direction: row;
  }
  .productdisplay-img-list img {
    display: block;
    height: 100px;
    object-fit: contain;
  }
  .productdisplay-main-img {
    width: 400px;
  }
}

@media screen and (max-width: 576px) {
  .productdisplay-img-list img {
    display: block;
    height: 70px;
    object-fit: contain;
  }
}
