.cartitems {
  margin: 100px 170px;
}

.cartitems hr {
  height: 3px;
  background: #e2e2e2;
  border: 0;
}

.cartitems-format-main {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 75px;
  padding: 20px 0px;
  color: #454545;
  font-size: 18px;
  font-weight: 600;
}

.cartitems-format {
  font-size: 17px;
  font-weight: 500;
}

.carticon-product-icon {
  display: block;
  width: 100px;
  object-fit: contain;
}

.cartitems-remove-icon {
  width: 15px;
  margin: 0px 40px;
  cursor: pointer;
}

.cartitems-quantity {
  width: 64px;
  height: 50px;
  border: 2px solid #ebebeb;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.cartitems-down {
  display: flex;
  margin: 100px 0px;
}

.cartitems-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* margin-right: 200px; */
  gap: 40px;
}

.cartitems-total-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}

.cartitems-total button {
  width: 262px;
  height: 58px;
  outline: none;
  border: none;
  background: #ff5a5a;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .cartitems {
    margin: 50px 10px;
  }

  .cartitems-format-main {
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    font-size: 14px;
  }

  .cartitems-format-main p:nth-child(3),
  .cartitems-format-main p:nth-child(4),
  .cartitems-format-main p:nth-child(5),
  .cartitems-format-main p:nth-child(6) {
    display: none;
  }

  .cartitems-format {
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    font-size: 14px;
  }

  .carticon-product-icon {
    width: 70px;
  }

  .cartitems-quantity {
    width: 50px;
    height: 40px;
  }

  .cartitems-remove-icon {
    width: 20px;
    margin: 0px 10px;
  }

  .cartitems-down {
    margin: 20px 0px;
    width: 100%;
  }

  .cartitems-total-item {
    padding: 10px 0px;
    width: 100%;
  }

  .cartitems-total button {
    align-self: center;
    width: 300px;
    height: 40px;
    font-size: 14px;
  }
}
