.sidebar-wrapper {
  position: fixed;
  top: 0;
  right: -100%; /* Start off-screen */
  background-color: #ff4141;
  color: white;
  height: 100%;
  width: 50%;
  transition: right 0.3s ease-in-out; /* Add transition for the right property */
}

.toggleSidebar .sidebar-wrapper {
  right: 0; /* Move into view */
}

.closeSidebar .sidebar-wrapper {
  right: -100%;
}

.sidebar-menu {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  list-style-type: none;
  padding: 20px;
  margin-top: 30px;
  gap: 40px;
}
.sidebar-menu li {
  color: white;
}

.sidebar-login-cart {
  display: flex;
  position: absolute;
  padding: 20px;
  bottom: 2px;
  right: 2px;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.sidebar-login-button {
  border: 0px;
  color: white;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
}

.sidebar-cart-icon {
  color: white;
  padding: 4px;
}

@media screen and (min-width: 768px) {
  .sidebar-wrapper {
    width: 40%;
  }
}
