.loginsignup {
  width: 100%;
  background: #fce3fe;
  padding: 100px 0px;
}

.loginsignup-container {
  width: 45%;
  margin: auto;
  background: white;
  margin: auto;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  box-shadow: 2px 2px 4px red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginsignup-container h1 {
  margin: 20px 0px;
}
.error-display {
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(233, 110, 110);
  color: red;
  text-align: center;
}

.loginsignup-fields {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.loginsignup-fields input {
  padding: 10px 5px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
  border-radius: 5px;
}

.loginsignup-container button {
  width: 100%;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.loginsignup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0px;
}

.loginsignup-login span {
  color: #ff4141;
  font-weight: 600;
  cursor: pointer;
}

.loginsignup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .loginsignup-container {
    width: 55%;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .loginsignup-container {
    width: 85%;
    margin: auto;
  }
  .loginsignup-container button {
    width: 100%;
  }
}
