.shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}

.shopcategory-indexSort {
  display: flex;
  margin: auto;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  padding: 10px;
  border-radius: 40px;
  border: 1px solid #888;
  display: flex;
  justify-content: space-between;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}

.shopcategory-products {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  justify-content: start;
  flex-wrap: wrap;
  gap: 12px;
}

.shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .shopcategory-indexSort {
    display: flex;
    margin: auto;
    width: 85%;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .shop-category {
    padding: 16px;
  }
  .shopcategory-products {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
