.footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 30px;
}

.footer-logo img {
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #252525;
  font-size: 20px;
}

.footer-links li {
  cursor: pointer;
}

.footer-social-icon {
  display: flex;
  gap: 20px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 30px;
  color: #1a1a1a;
  font-size: 10px;
}

.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 1px;
  background: #c7c7c7;
}

@media screen and (max-width: 576px) {
  .footer-links {
    flex-direction: row;
    gap: 0px;
    align-items: start;
    font-size: 14px;
    flex-wrap: wrap;
  }
  .footer-links li {
    margin: 10px 0px;
    flex-basis: 33%;
  }
}
