.newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #ad1cb8 0%, #e1ffea22 60%);
  gap: 30px;
}

.newsletter h1 {
  color: #454545;
  font-size: 55px;
  font-weight: 600;
}

.newsletter p {
  color: #454545;
  font-size: 20px;
}

.newsletter-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.newsletter input {
  border: 1px solid gray;
  width: 70%;
  color: #616161;
  font-size: 16px;
  border-radius: 10px;
  padding: 10px;
}

.newsletter div button {
  width: 180px;
  border-radius: 80px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .newsletter-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    width: 100%;
  }
  .newsletter input {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .newsletter-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;
    width: 100%;
  }
  .newsletter input {
    width: 80%;
  }
}
