.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 32px;
  width: 80%;
  margin: auto;
}

.popular h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.popular-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .popular-item {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 564px) {
  .popular {
    width: 90%;
    margin: 20px auto;
  }
  .popular h1 {
    font-size: 36px;
    margin: 30px auto;
  }
}
